<!-- Header -->
<header>
  <div class="container">
    <div class="row">
        <div class="column-30">
          <img class="img" src="/img/jtm-headshot.png" alt="profile-pic" />
        </div>

         <div class="column-60">
            <div class="intro">
              <span class="name">{{ site.title }}</span>
              <hr class="star-light" />
              <span class="description">{{ site.description}}</span>
              <br><br>
              <span class="skills">{{ site.skills }}</span>
            </div>
        </div>
    </div>
  </div>
</header>
