 <!-- About Section -->
 <section class="success" id="internship_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work Experience</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <!--col-lg-4 col-lg-offset-2 --> 
            <div class="">
                <p>
                    At Seton Hill University I have had the opportunity to work as an Assistant System Administrator, 
                    filling the roles of a Junio Systems Administrator. At this position I do day-to-day operations of 
                    a Junior System administrator, such as managing users lifecycles, patching both Windows and Linux servers 
                    and troubleshooting issues as they arise. 
                </p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://joshua-miller1.github.io/resources/JTM-Resume.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> View my Resume! 
                </a>
            </div>
        </div>
    </div>
</section>
