 <!-- Internship info section -->
    <section class="success" id="internship_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work Experience - System Administrator</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!--col-lg-4 col-lg-offset-2 --> 
                <div class="">
                    <p>
                        At Seton Hill University I have had the opportunity to work as an Assistant System Administrator, 
                        filling the roles of a Junior Systems Administrator. At this position I do day-to-day operations of 
                        a Junior System administrator, such as managing users lifecycles, patching both Windows and Linux servers 
                        and troubleshooting issues as they arise. 
                    </p>
                    <p> 
                        <br><br>
                        Example projects I have done include:
                        <br><br>

                        1. Create, Configure, and Manage the Virtual Computer Science Lab at Seton Hill <br>
                        This was done through a local Dell 720 Server running Windows Server. The Virtual Machines were created through 
                        the Hyper-V service. Students could connect to the virtual machines through an Active Directory login credential. 
                        This project also included creating documentation for end users to connect and for other local administrators to
                        complete administrative tasks. 
                        <br><br>

                        2. Create and configure Amazon EC2 instance backup policy: <br>
                        <br>
                        This was done by configuring the Amazon backup Lifecycle 
                        settings to ensure that EC2 instances are backed up and located in a seperate Amazon Region. This policy meets the 
                        standard recommendations for backup frequencies and backup storage locations. 
                        <br><br>
                        
                        3. Active Directory Experience: <br>
                        I would be responsible for editing and the lifecycle of active directory users. My responsibilities included 
                        generating reports on users based on their activity and acting on these reports. Reports could include suspending users 
                        based on login data, collecting users with delegate access, editing permissions for users in groups, and deleting accounts 
                        to lower the total overhead for the University. This work is mainly done through command line and windows powershell 
                        to do bulk processing and generate reports. 
                        <br><br>

                        4. Virtualization Experience: <br>
                        I have experience with virtualization of Linux and Windows servers through Hyper-V, Amazon EC2's and vSphere hosting. 
                        As a part of my experience I have been responsible for patching these servers through SSH and RDP clients. 
                        <br><br>
                    </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://joshua-miller1.github.io/resources/JTM-Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View my Resume! 
                    </a>
                </div>
            </div>
        </div>
    </section>
