<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}

    <h3>
        Work Experience 
    </h3>
    <p>
        At Seton Hill University I have had the opportunity to work as an Assistant System Administrator, 
        filling the roles of a Junio Systems Administrator. At this position I do day-to-day operations of 
        a Junior System administrator, such as managing users lifecycles, patching both Windows and Linux servers 
        and troubleshooting issues as they arise. 
    </p>

    </body>
</html>